{% extends 'base/base.html' %}
{% load static %}

{% block title %}Notes{% endblock %}
{% block styles %}
    <link rel="stylesheet" href="{% static 'styles-notes.css' %}">
{% endblock %}

{% block content %}
    <!-- <div style="color: yellow">notes</div> -->
    <div style="background-color: #0F111B; width: 100%; height: 85vh; border-radius: 10px; display: flex">

        <div style="width: 20%; height: 100%; ; overflow-y: overlay; border-top-left-radius: 10px; border-bottom-left-radius: 10px; border-right: solid 1px gray">


            <div style="margin: 5px auto; background-color: transparent; width: 90%; height: 120px; border-radius: 10px; padding: 5px">
                <div style="display: flex; justify-content: space-between; align-items: center; background-color: transparent;">
                    <div style="font-size: 20px; font-weight: bold; ">Notka 1</div>
                    <div class="delete-btn">
                        <i class="fa-solid fa-trash-alt"></i>
                    </div>
                </div>
                
                <div style="background-color: transparent; text-overflow: ellipsis; overflow: hidden; white-space: nowrap;  white-space: pre-wrap; display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical;">Note with some new pretty smooth contentttttttttttttttttttttttttt</div>
                <div style="background-color: transparent; font-size: 13px; display: flex; align-items: flex-end; height: 30px;">Last edited on 23.04.2023 14:35</div>
            </div>

            <div class="separator"></div>

            <div style="margin: 5px auto; background-color: transparent; width: 90%; height: 120px; border-radius: 10px; padding: 5px">
                <div style="display: flex; justify-content: space-between; align-items: center; background-color: transparent;">
                    <div style="font-size: 20px; font-weight: bold; ">Notka 1</div>
                    <div class="delete-btn">
                        <i class="fa-solid fa-trash-alt"></i>
                    </div>
                </div>
                
                <div style="background-color: transparent; text-overflow: ellipsis; overflow: hidden; white-space: nowrap;  white-space: pre-wrap; display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical;">Note with some new pretty smooth contentttttttttttttttttttttttttt</div>
                <div style="background-color: transparent; font-size: 13px; display: flex; align-items: flex-end; height: 30px;">Last edited on 23.04.2023 14:35</div>
            </div>

            <div class="separator"></div>

            <div style="margin: 5px auto; background-color: transparent; width: 90%; height: 120px; border-radius: 10px; padding: 5px">
                <div style="display: flex; justify-content: space-between; align-items: center; background-color: transparent;">
                    <div style="font-size: 20px; font-weight: bold; ">Notka 1</div>
                    <div class="delete-btn">
                        <i class="fa-solid fa-trash-alt"></i>
                    </div>
                </div>
                
                <div style="background-color: transparent; text-overflow: ellipsis; overflow: hidden; white-space: nowrap;  white-space: pre-wrap; display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical;">Note with some new pretty smooth contentttttttttttttttttttttttttt</div>
                <div style="background-color: transparent; font-size: 13px; display: flex; align-items: flex-end; height: 30px;">Last edited on 23.04.2023 14:35</div>
            </div>

            <div class="separator"></div>

            <div style="margin: 5px auto; background-color: transparent; width: 90%; height: 120px; border-radius: 10px; padding: 5px">
                <div style="display: flex; justify-content: space-between; align-items: center; background-color: transparent;">
                    <div style="font-size: 20px; font-weight: bold; ">Notka 1</div>
                    <div class="delete-btn">
                        <i class="fa-solid fa-trash-alt"></i>
                    </div>
                </div>
                
                <div style="background-color: transparent; text-overflow: ellipsis; overflow: hidden; white-space: nowrap;  white-space: pre-wrap; display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical;">Note with some new pretty smooth contentttttttttttttttttttttttttt</div>
                <div style="background-color: transparent; font-size: 13px; display: flex; align-items: flex-end; height: 30px;">Last edited on 23.04.2023 14:35</div>
            </div>

            <div class="separator"></div>

            <div style="margin: 5px auto; background-color: transparent; width: 90%; height: 120px; border-radius: 10px; padding: 5px">
                <div style="display: flex; justify-content: space-between; align-items: center; background-color: transparent;">
                    <div style="font-size: 20px; font-weight: bold; ">Notka 1</div>
                    <div class="delete-btn">
                        <i class="fa-solid fa-trash-alt"></i>
                    </div>
                </div>
                
                <div style="background-color: transparent; text-overflow: ellipsis; overflow: hidden; white-space: nowrap;  white-space: pre-wrap; display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical;">Note with some new pretty smooth contentttttttttttttttttttttttttt</div>
                <div style="background-color: transparent; font-size: 13px; display: flex; align-items: flex-end; height: 30px;">Last edited on 23.04.2023 14:35</div>
            </div>

            <!-- <div class="separator"></div> -->


        </div>
        <div style="padding: 10px; width: 80%">
            <input type="text" placeholder="Enter title..." style="width: 100%;outline: none; border: none; background-color: transparent; caret-color: white; caret-shape: underline;">
            <hr/>
            <label for="pole">titel</label>
            <hr/>
            <textarea id="pole" placeholder="Enter a note..." style="display: block; width: 100%; height: 85%; resize: none; color:gray; outline: none; border: none; background-color: transparent; caret-color: white;"></textarea>
        </div>

    </div>
{% endblock %}



