{% extends 'base/base.html' %}
{% load static %}

{% block title %}Notes{% endblock %}
{% block styles %}
    <link rel="stylesheet" href="{% static 'styles-notes.css' %}">
{% endblock %}

{% block content %}
    <!-- <div style="color: yellow">notes</div> -->
    <div class="notes-container">

        <div class="notes-sidebar">
            <div class="note-add-btn-wrapper">
                <button class="note-add-btn">ADD NOTE</button>
            </div>

            <div class="separator"></div>

            <div class="notes-list">

                <!-- <div class="note-card">
                    <div class="note-card-headline">
                        <div class="note-card-title">Notka 1</div>
                        <div class="delete-btn">
                            <i class="fa-solid fa-trash-alt"></i>
                        </div>
                    </div>
                    
                    <div class="note-card-content">Note with some new pretty smooth contentttttttttttttttttttttttttt</div>
                    <div class="note-card-date">Last edited on 23.04.2023 14:35</div>
                </div>

                <div class="separator"></div>

                <div class="note-card">
                    <div class="note-card-headline">
                        <div class="note-card-title">Notka 1</div>
                        <div class="delete-btn">
                            <i class="fa-solid fa-trash-alt"></i>
                        </div>
                    </div>
                    
                    <div class="note-card-content">Note with some new pretty smooth contentttttttttttttttttttttttttt</div>
                    <div class="note-card-date">Last edited on 23.04.2023 14:35</div>
                </div>

                <div class="separator"></div>

                <div class="note-card">
                    <div class="note-card-headline">
                        <div class="note-card-title">Notka 1</div>
                        <div class="delete-btn">
                            <i class="fa-solid fa-trash-alt"></i>
                        </div>
                    </div>
                    
                    <div class="note-card-content">Note with some new pretty smooth contentttttttttttttttttttttttttt</div>
                    <div class="note-card-date">Last edited on 23.04.2023 14:35</div>
                </div>

                <div class="separator"></div>

                <div class="note-card">
                    <div class="note-card-headline">
                        <div class="note-card-title">Notka 1</div>
                        <div class="delete-btn">
                            <i class="fa-solid fa-trash-alt"></i>
                        </div>
                    </div>
                    
                    <div class="note-card-content">Note with some new pretty smooth contentttttttttttttttttttttttttt</div>
                    <div class="note-card-date">Last edited on 23.04.2023 14:35</div>
                </div>

                <div class="separator"></div>

                <div class="note-card">
                    <div class="note-card-headline">
                        <div class="note-card-title">Notka 1</div>
                        <div class="delete-btn">
                            <i class="fa-solid fa-trash-alt"></i>
                        </div>
                    </div>
                    
                    <div class="note-card-content">Note with some new pretty smooth contentttttttttttttttttttttttttt</div>
                    <div class="note-card-date">Last edited on 23.04.2023 14:35</div>
                </div>

                <div class="separator"></div>

                <div class="note-card">
                    <div class="note-card-headline">
                        <div class="note-card-title">Notka 1</div>
                        <div class="delete-btn">
                            <i class="fa-solid fa-trash-alt"></i>
                        </div>
                    </div>
                    
                    <div class="note-card-content">Note with some new pretty smooth contentttttttttttttttttttttttttt</div>
                    <div class="note-card-date">Last edited on 23.04.2023 14:35</div>
                </div> -->
            </div>
        </div>

        <div class="note-input-container">
            <input type="text" placeholder="Enter title..." class="note-input-title">
            <hr/>
            <!-- <label for="pole">titel</label> -->
            <!-- <hr/> -->
            <textarea id="pole" placeholder="Enter a note..." class="note-input-content"></textarea>
        </div>

    </div>

    <!-- <script src="https://cdn.ckeditor.com/ckeditor5/37.0.1/classic/ckeditor.js"></script>
    <script>
        ClassicEditor
                .create( document.querySelector( '#pole' ), {
                    theme: 'dark'
                } )
                .then( editor => {
                        console.log( editor );
                } )
                .catch( error => {
                        console.error( error );
                } );
    </script> -->
    
    <script type="module" src="{% static 'notes/js/get-notes.js' %}"></script>

{% endblock %}



