#nav {
    background-color: red;
}

#site-name a {
    color:white
}

.content-row {
    background-color: #0F111B; 
    border-radius: 10px; 
    max-width: 750px; 
    padding: 2px;
    margin: 10px 0;
    display: flex;
}

.content-row-sm {
    /* line-height: 30px; */
    height: 30px;
    margin: 0 0;
    margin-bottom: 5px;
}

.content-row-sm:nth-child(even){
    background-color: #131522; 
}

input:focus {
    outline: none;
}

.input-wrapper {
    /* background-color: rgb(109, 93, 93); */
    /* width: 100px; */
    border-radius: 10px;
    padding: 5px;
    height: 32px;
    line-height: 20px;
}

.input-wrapper-sm {
    height: 30px;
    line-height: 15px;
}
  
.input-cell {
    background-color: transparent; 
    border: none;
    caret-color: red; 
    width: 100%;
    color: rgb(116, 116, 116);
    transition: 0.6s ease;
}

.input-cell:focus, .input-cell:hover{
    border-bottom: 1px solid #1890ff;
    outline: none;
}

::placeholder {
    color: rgb(116, 116, 116)
}

.input-cell-date {
    background-color: transparent; 
    border:none;
    color: rgb(116, 116, 116)
}

.title-cell {
    flex-basis: 160px; 
    flex-shrink: 0; 
    flex-grow: 0;
    max-width: 160px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.amount-cell {
    flex-basis: 120px; 
    flex-shrink: 0; 
    flex-grow: 0;
}

.tag-cell {
    flex-basis: 100px; 
    flex-shrink: 0; 
    flex-grow: 0;
}

.date-cell {
    flex-basis: 80px; 
    flex-shrink: 0; 
    flex-grow: 0;
}

form {
    display: flex;
    flex-direction: row;
    position: relative;
    padding: 5px
}
  
.separator {
    top:30%;
    bottom:30%;
    border-left:1px solid rgb(116, 116, 116);
    margin: 5px 10px;
}
  
.input-cell-date::-webkit-calendar-picker-indicator {
    background: transparent;
    bottom: 0;
    color: white;
    cursor: pointer;
    height: auto;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: auto;
}

.content-row-btn {
    margin: 0 10px;
    background-color: red;
    border: none;
    border-radius: 10px;
    width: 120px;
    transition: 0.2s;
    margin-left: auto;
}

.content-row-btn:hover {
    background-color: rgb(179, 4, 4);
}

.expenses-list-container {
    max-height: 300px;
    overflow: auto;
    max-width: 760px; 
    border-radius: 10px;
    margin: 10px 0;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
    border-radius: 10px;
  }

/* Track */
::-webkit-scrollbar-track {
    /* background: #4d4d4d;  */
    background-color: rgb(42, 45, 70);
    border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #5e5e5e; 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }